.login-page {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column; /* Alinea los elementos en columna */
  justify-content: center; /* Centra verticalmente los elementos */
  align-items: center; /* Centra horizontalmente los elementos */
  height: 100vh;
  margin: 0;
  background-color: #f7f7f7;
}

.login-container {
  background-color: white;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1); /* Sombra */
  display: flex;
  flex-direction: column;
  align-items: center; /* Centra los elementos horizontalmente */
}

h1 {
  text-align: center;
  margin-bottom: 20px;
  margin-top: 20px; /* Añade margen superior al título */
}

.form1 {
  max-width: 300px;
  margin: 0 auto;
}

.form1 label {
  display: block;
  margin-bottom: 5px;
}

.form1 input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.form1 button {
  max-width: 200px; /* Máximo ancho del botón para evitar que se extienda demasiado */
  padding: 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 20px; /* Añadimos margen superior */
}

.form1 button:hover {
  background-color: #45a049;
}

#pertsonak {
  margin: 20px; /* Ajustar los márgenes según sea necesario */
}

#tablaUsuarios th,
#tablaUsuarios td {
  padding: 1rem; /* Ajustar el espaciado interno de las celdas */
  font-size: 1rem; /* Ajustar el tamaño de fuente según sea necesario */
}

/* Ajustar el tamaño de fuente de los encabezados de la tabla */
#tablaUsuarios th {
  font-size: 1.1rem; /* Ajustar el tamaño de fuente según sea necesario */
}
