    body {
            padding-top: 50px;
            font-family: Arial, sans-serif;
            background-color: #f8f9fa;
        }

        .sidebar {
            position: fixed;
            left: 0;
            top: 0;
            bottom: 0;
            width: 250px;
            background-color: #343a40;
            color: #ffffff;
            overflow-y: auto;
            z-index: 1000; /* Añadido */
            transition: transform 0.3s ease; /* Añadido */
        }

        .sidebar.closed {
            transform: translateX(-250px); /* Añadido */
        }

        .sidebar-brand {
            font-size: 24px;
            font-weight: bold;
            color: #ffffff;
            text-align: center;
            margin-bottom: 30px;
        }

        .sidebar-menu {
            padding-left: 20px;
        }

        .sidebar-menu-item {
            padding: 10px 0;
            transition: all 0.3s;
        }

        .sidebar-menu-item a {
            color: #ffffff;
            text-decoration: none;
            font-size: 18px;
        }

        .main-content {
            margin-left: 250px;
            padding: 20px;
        }

        @media (max-width: 768px) {
            .sidebar {
                transform: translateX(-250px); /* Añadido */
            }

            .main-content {
                margin-left: 0; /* Cambiado */
            }
        }

        .card {
            border: none;
            border-radius: 15px;
            background-color: #ffffff;
            box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
            transition: transform 0.3s ease;
        }

        .card:hover {
            transform: translateY(-5px);
        }

        .card-img-top {
            border-top-left-radius: 15px;
            border-top-right-radius: 15px;
        }

        .card-body {
            padding: 20px;
        }

        .card-title {
            font-size: 24px;
            font-weight: bold;
            color: #333333;
            margin-bottom: 20px;
        }

        .card-text {
            color: #666666;
            font-size: 16px;
            line-height: 1.6;
            margin-bottom: 15px;
        }

        .card {
            transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
        }

        .card:hover {
            transform: scale(1.05);
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
        }